<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': deviceStatus === 'allumé',
                'list-group-item-danger': deviceStatus === 'éteint'}">
  <h4 [ngStyle]="{color: getColor()}"> Device: {{ deviceName }} - {{ getStatus() }}
  </h4>
  <a [routerLink]="[id]">Détails</a>
  <button name="switchOnDeviceButton"
          class="btn btn-success"
          (click)="onSwitchOnDeviceButton()"
          [disabled]="deviceStatus === 'allumé'">
          allumer
  </button>
  <button name="switchOffDeviceButton"
          class="btn btn-danger"
          (click)="onSwitchOffDeviceButton()"
          [disabled]="deviceStatus === 'éteint'">
          éteindre
  </button>
</li>
