<!-- Adevice components -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Here are my devices: </h2>
      <p>Updated: {{ lastUpdate | async | date: 'short' }}</p>
      <ul class="list-group">
        <app-device *ngFor="let device of devices"
                        [deviceName]="device.name"
                        [deviceStatus]="device.status">
        </app-device>
      </ul>
      <button class="btn btn-success"
              type="button"
              name="switchAllLightButton"
              [disabled] = "!isAuthentified"
              (click) = "onClickOnSwitchAllLightButton()">
              Tout allumer
      </button>
    </div>
  </div>
</div>
